<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.GetDataMapper">
	<!-- 仪表盘查询语句（已优化） -->
	<select id="getPanelData" resultType="com.java.pojo.Panel">
		select
		dn.NAME,cast(pv.VALUE as DECIMAL(5,2)) VALUE
		from
		panelvalues pv,
		(select * from banks where NAME='工商银行') banks,
		(select * from datanames where id in (20,4,22,30)) dn,valuedates vd
		where
		pv.did=dn.id and
		pv.vid=vd.id and pv.bid=banks.id;
	</select>

	<!-- 柱状图查询语句 -->
	<select id="getBarData" resultType="com.java.pojo.Bar">
		select
		dn.NAME,CAST(bv.VALUE
		AS DECIMAL(5,2)) VALUE
		from
		barvalues bv,banks,datanames dn,valuedates
		vd
		where
		bv.did=dn.id and bv.vid=vd.id and bv.bid=banks.id;
	</select>

	<!-- 饼图查询语句 -->
	<select id="getPieData" resultType="com.java.pojo.Pie">
		select
		dn.NAME,pv.VALUE
		from
		pievalues pv,banks,datanames
		dn,valuedates vd
		where
		pv.did=dn.id and pv.vid=vd.id and
		pv.bid=banks.id and vd.valuedate REGEXP '^2020';
	</select>

	<!-- 折线图查询语句（已优化） -->
	<select id="getLineData" resultType="com.java.pojo.Line">
		select
		dn.NAME,CAST(lv.VALUE
		AS DECIMAL(4,1)) VALUE,vd.valuedate
		from
		linevalues lv,
		(select * from
		banks where NAME="工商银行") banks,
		(select * from datanames where id in
		(1,18)) dn,
		(select * from valuedates where valuedate REGEXP '2020') vd
		where
		lv.did=dn.id and lv.vid=vd.id and lv.bid=banks.id;
	</select>

	<!-- 雷达图查询语句(已优化) -->
	<select id="getRadaData" resultType="com.java.pojo.Rada">
		select
		dn.NAME,CAST(rv.VALUE
		AS DECIMAL(3,0))VALUE,b.NAME bank
		from
		(select
		rv.VALUE,rv.did,rv.vid,rv.bid
		from radarvalues rv
		where
		(1,2,18,21,23)) rv,
		(select
		*
		from banks
		where NAME in
		("中国银行","工商银行","建设银行","农业银行")) b,
		valuedates vd,datanames dn
		where
		rv.did=dn.id and rv.vid=vd.id and rv.bid=b.id;
	</select>
	
	<select id="getConfigData" resultType="com.java.pojo.ConfigData">
		select dn.NAME NAME,pv.VALUE value,jd.NAME time from peizhivalues pv,jidu jd,banks,datanames dn where pv.jid=jd.id and pv.bid=banks.id and pv.did=dn.id;
	</select>

	<!-- 列表查询语句（已优化） -->
	<select id="getMListData" resultType="com.java.pojo.MList">
		select bb.NAME company,CAST(mv1.VALUE AS DECIMAL(4,1)) zbczl,CAST(mv2.VALUE AS DECIMAL(4,1)) hxzbczl,CAST(mv3.VALUE AS DECIMAL(4,1)) zblrl,CAST(mv4.VALUE AS DECIMAL(4,1)) ldxbl
		from
		(select VALUE,bid from entryvalues where did=1) mv1,
		(select VALUE,bid from entryvalues where did=18) mv2,
		(select VALUE,bid from entryvalues where did=21) mv3,
		(select VALUE,bid from entryvalues where did=23) mv4,
		banks bb
		where bb.id=mv1.bid and bb.id=mv2.bid and bb.id=mv3.bid and
		bb.id=mv4.bid;
	</select>

	<!-- 地图查询语句（已优化） -->
	<select id="getMMapData" resultType="com.java.pojo.MMap">
		select REPLACE(bb.NAME,'分行','') province,CAST(mv1.VALUE AS DECIMAL(4,1)) zbczl,CAST(mv2.VALUE AS DECIMAL(4,1))
		hxzbczl,CAST(mv3.VALUE AS DECIMAL(4,1)) zblrl,CAST(mv4.VALUE AS DECIMAL(4,1)) ldxbl,CAST(mv5.VALUE AS DECIMAL(4,1)) hxyjzbczl 
		from
		(select VALUE,bbid from mapvalues where did=1) mv1,
		(select VALUE,bbid from mapvalues where did=18) mv2,
		(select VALUE,bbid from mapvalues where did=21) mv3,
		(select VALUE,bbid from mapvalues where did=23) mv4,
		(select VALUE,bbid from mapvalues where did=2) mv5,
		branchbanks bb
		where bb.id=mv1.bbid and bb.id=mv2.bbid and bb.id=mv3.bbid and
		bb.id=mv4.bbid and bb.id=mv5.bbid;
	</select>
	
	<!-- 风险阈值语句 -->
	<select id="getRiskData" resultType="com.java.pojo.Risk">
		select dn.NAME,rv.VALUE value from riskvalues rv,datanames dn where rv.did=dn.id;
	</select>

</mapper>